@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

/* Navbar CSS */
.navbar-brand {
  margin-left: 10vw;
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 42px;
  line-height: 50px;
  color: #0085FF !important;
}

.nav-item {
  margin: 20px;
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}

.nav-item:nth-child(1)>.nav-link {
  color: #0085FF !important;
}

.nav-btn {
  width: 142px;
  height: 51px;
  background: #0085FF;
  color: white;
  box-shadow: 0px 5px 20px #BDDFFF;
  border-radius: 10px;
  outline: none;
  border: none;
  cursor: pointer;
  margin: 25px;
}

@media screen and (max-width: 1000px) {
  .navbar-brand {
    margin-right: 2em;
  }
}

/* Landing page design */
.main-landing-container {
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.landing-content {
  width: 80vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.landing-heading {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 2.7rem;
  line-height: 52px;
  letter-spacing: 0.3px;
  color: #034D82;
  width: 30vw;
}

.landing-description {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0.3px;
  color: #90A3B4;
  width: 30vw;
}

.landing-right-side img {
  width: 45vw;
  height: auto;
}


.input-controls {
  position: relative;
  width: 27rem;
  background: #FFFFFF;
  box-shadow: 0px 15px 22px rgba(218, 218, 218, 0.25);
  border-radius: 15px;
  margin-top: 3rem;
}

.input-controls input {
  background: #FFFFFF;
  box-shadow: 0px 15px 22px rgba(218, 218, 218, 0.25);
  border-radius: 15px;
  height: 3.8rem;
  width: 25rem;
  outline: none;
  border: none;
  padding-left: 1rem;
}

.input-controls input::placeholder {
  font-family: 'Poppins';
  font-style: italic;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  color: #D5D5D5;

}

.input-btn {
  position: absolute;
  width: 135px;
  height: 51px;
  top: 6px;
  right: 0px;
  background: #0085FF;
  border-radius: 10px;
  outline: none;
  border: none;
  cursor: pointer;
  color: white;
  padding: 2px 20px;
}

@media screen and (max-width: 880px) {
  .landing-content {
    width: 90vw;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .main-landing-container {
    padding: 4rem 1rem;
  }

  .landing-heading {
    width: 80vw;
    font-size: 2rem;
    line-height: 2.5rem;
  }

  .landing-description {
    width: 70vw;
  }

  .landing-right-side img {
    width: 60vw;
    height: auto;
  }
}

@media screen and (max-width: 470px) {
  .landing-right-side img {
    width: 80vw;
    height: auto;
  }

  .input-controls {
    width: 19rem;
  }

  .input-controls input {
    height: 2.5rem;
    width: 14rem;
    padding-left: 1rem;
  }

  .input-controls input::placeholder {
    font-family: 'Poppins';
    font-style: italic;
    font-weight: 500;
    font-size: 12px;
    line-height: 12px;
  }

  .input-btn {
    font-size: .7rem;
    width: 6rem;
    height: 2.1rem;
    top: 4px;
    padding: 1px 10px;
  }
}





/* General stats styles */
.Stats-container {
  width: 100%;
  margin-top: 4rem;
  margin-bottom: 1rem;
  display: flex;
  justify-content: center;
}

.Stats-content {
  width: 80vw;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}


.Stats-content div {
  margin: 0rem 1rem 0rem 1rem;
}

.Stats-heading {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 58px;
  line-height: 80px;
  text-align: center;
  letter-spacing: 0.2px;
  color: #0085FF;
}

.Stats-description {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.1px;
  color: #252B42;

}

/* Carousel section styles */
.carousel-container {
  margin-top: 10rem;
  margin-bottom: 3rem;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.carousel-text-container {
  width: 60vw;
}

.carousel-subheading {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 1rem;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #6C6C6C;
}

.carousel-heading {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 3rem;
  line-height: 72px;
  text-align: center;
  color: #333535;
  text-align: center;
}

.carousel-inner-container {
  width: 80%;
  margin-top: 5rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.carousel-items {
  width: 259px;
  height: 250px;
  background: #FFFFFF;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin: 20px;
}

.carousel-head {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 32px;
  letter-spacing: 0.2px;
  color: #034D82;
  margin-top: 20px;

}

.carousel-desc {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  width: 198px;
  height: 72px;
  letter-spacing: 0.3px;
  color: #8EA9C1;

}

@media screen and (max-width: 654px) {
  .carousel-text-container {
    width: 90vw;
  }
}

@media screen and (max-width: 1189px) {
  .carousel-inner-container {
    width: 90%;
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .carousel-left-button {
    display: none;
  }

  .carousel-right-button {
    display: none;
  }

  .carousel-items {
    margin: 0px;
    align-items: center;
    justify-content: center;
  }
}


/* Customer trust section styles */
.trust-container {
  width: 100vw;
  padding: 15rem 0rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.trust-content {
  width: 70vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.first-section,
.second-section {
  display: flex;
  align-items: center;
  justify-content: center;
}

.page-small-heading {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 36px;
  color: #333535;
  width: 20rem;
  margin-top: 1rem;
}

.left-first-part img {
  width: 40vw;
  height: auto;
}

.left-second-part img {
  width: 30vw;
  height: auto;
  margin-left: 3rem;
}

.page-small-description {
  font-family: 'Poppins';
  font-style: italic;
  font-weight: 400;
  font-size: 0.8rem;
  line-height: 21px;
  color: #909090;
  width: 20rem;
}

.trust-button {
  color: white;
  width: 10rem;
  height: 3.1rem;
  background: #0085FF;
  border-radius: 10px;
  border: none;
  outline: none;
  cursor: pointer;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 1rem;
  line-height: 24px;
  text-align: center;
}

@media screen and (max-width: 1000px) {
  .first-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .second-section {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
  }

  .left-second-part img {
    width: 30vw;
    height: auto;
    margin-left: 0rem;
  }
}

@media screen and (max-width: 600px) {

  .left-first-part img,
  .left-second-part img {
    width: 80vw;
    height: auto;
  }
}


/* Points section styling */
.points-container {
  width: 100vw;
  padding-top: 30vh;
  padding-bottom: 40vh;
  background-color: #F3F3F3;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.points-content {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.points-heading {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 72px;
  color: #333535;
  text-align: center;

}

.points-description {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #6C6C6C;
  width: 60vw;
  text-align: center;
}

.points-inner-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 80%;
  flex-wrap: wrap;
  margin-top: 5rem;
}

.point-outline {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 350px;
}

.circle {
  width: 85px;
  height: 65px;
  border-radius: 50%;
  background: #FFFFFF;
  box-shadow: 5px 10px 32px rgba(193, 193, 193, 0.25);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 1rem;
}

.point-head {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 27px;
  color: #333535;
  margin-bottom: 0rem;
  padding-top: 5px;
}

.point-desc {
  font-family: 'Poppins';
  font-style: italic;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #909090;

}

.point-upper-box {
  width: 60vw;
  position: absolute;
  top: -100px;
  left: 20%;
  background: #157CDC;
  box-shadow: 0px 13px 60px rgba(227, 227, 227, 0.25);
  border-radius: 32px;
  padding: 3rem 3rem 3rem 3rem;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}


.points-upper-heading {
  font-family: 'Poppins';
  font-style: italic;
  font-weight: 700;
  font-size: 36px;
  line-height: 54px;
  color: #FFFFFF;
}

.points-upper-desc {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  width: 60%;
  color: #D3EAFF;

}

.point-icon-circle {
  width: 85px;
  height: 85px;
  background: #FFAE34;
  border-radius: 50%;
  position: absolute;
  top: -50px;
  left: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.point-lower-box {
  width: 60vw;
  position: absolute;
  bottom: -100px;
  left: 20%;
  background: #157CDC;
  box-shadow: 0px 13px 60px rgba(227, 227, 227, 0.25);
  border-radius: 32px;
  padding: 3rem 3rem 3rem 3rem;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.points-lower-heading {
  font-family: 'Poppins';
  font-style: italic;
  font-weight: 700;
  font-size: 42px;
  line-height: 63px;
  color: #FFFFFF;
}

.points-lower-desc {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  line-height: 42px;
  display: flex;
  align-items: center;
  color: #D3EAFF;
  width: 60%;
  margin-left: 2rem;
}

.point-lower-icon-circle {
  width: 75px;
  height: 65px;
  border-radius: 50%;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 20px;
  right: 50px;
  cursor: pointer;
}

@media screen and (max-width: 1041px) {
  .point-upper-box {
    width: 350px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    left: 30%;
  }

  .points-upper-heading {
    font-size: 25px;
    line-height: 40px;
    text-align: center;
  }

  .points-upper-desc {
    font-size: 14px;
    width: 90%;
    color: #D3EAFF;
  }

  .points-container {
    padding-top: 30vh;
  }

  .point-lower-box {
    width: 350px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    left: 25%;
  }

  .points-lower-heading {
    font-size: 25px;
    line-height: 40px;
    text-align: center;
  }

  .points-lower-desc {
    font-size: 14px;
    width: 90%;
    color: #D3EAFF;
  }

  .point-lower-icon-circle {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 20px;
    right: 50px;
    cursor: pointer;
  }
}

@media screen and (max-width: 604px) {
  .point-upper-box {
    left: 15%;
  }

  .point-lower-box {
    left: 15%;
  }


}

@media screen and (max-width: 508px) {
  .point-upper-box {
    display: none;
  }

  .point-lower-box {
    display: none;
  }

  .Image-inner-container {
    margin-right: 0rem;
  }

  .points-description {
    width: 90vw;
  }

  .points-container {
    padding-top: 10vh;
    padding-bottom: 10vh;
  }
}


/* Styling for image gallery container */
.Images-container {
  padding-top: 10rem;
  padding-bottom: 5rem;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Images-content {
  width: 70%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.Image-inner-container {
  margin-right: 2rem;
}

.Image-inner-container img {
  width: 250px;
  height: auto;
}

.Image-inner-container p {
  width: 250px;
  font-family: 'SF Pro Display';
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 120%;
  text-align: center;
  color: #000000;

}

.Images-btn {
  margin: 3rem 0rem;
  width: 285px;
  height: 69.48px;
  background: #0085FF;
  border-radius: 10px;
  outline: none;
  border: none;
  cursor: pointer;
  color: white;
}

@media screen and (max-width: 500px) {
  .Image-inner-container {
    margin-right: 0rem;
  }
}

/* JOIN AIMIC styles */
.join-container {
  width: 100vw;
  padding: 10rem 0rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.aimic-heading {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 4.5rem;
  color: #333535;
}

.aimic-img {
  margin-right: 4rem;
}

@media screen and (max-width: 500px) {
  .join-container {
    padding: 3rem 0rem;
  }

  .aimic-img{
    margin-right: 0rem;
  }
}



/* Get intouch section styling */
.get-in-touch-container {
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  padding: 2rem 4rem;
  background-color: rgba(0, 84, 144, 0.83);
}



.touch-heading {
  width: 343.42px;
  font-family: 'Poppins';
  font-style: italic;
  font-weight: 700;
  font-size: 36px;
  line-height: 54px;
  color: #FFFFFF;

}

.touch-description {
  width: 582.42px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  display: flex;
  align-items: center;
  color: #D3EAFF;
}

.touch-btn {
  width: 224px;
  height: 57px;
  cursor: pointer;
  border: 1px solid #FFFFFF;
  border-radius: 14px;
  background-color: transparent;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #FFFFFF;
}



/* Footer styling starts here */
.Footer-container {
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  padding: 2rem 4rem;
  background-color: #005490;
}

.Footer-top-button {
  position: relative;
  bottom: -50px;
  right: -20px;
}

.Footer-info {
  width: 343.42px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.Footer-info-head {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 800;
  font-size: 36px;
  line-height: 43px;
  color: #FFFFFF;
}

.Footer-info-desc {
  font-family: 'Poppins';
  width: 334px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #D3D3D3;
}

.Social-icons img {
  cursor: pointer;
  margin: 0.5rem;
}

.Footer-links {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  width: 582px;
  position: relative;
}

.Footer-links-col {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-right: 2rem;
}

.Footer-links-list {
  list-style: none;
}

.Footer-links-list li {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #D3D3D3;
  cursor: pointer;
}

.Footer-links-list li:nth-child(1) {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 27px;
  color: #FFFFFF;
}

.Footer-links-list li:nth-child(2) {
  margin-top: 1.3rem;
}

@media screen and (max-width: 514px) {
  .Footer-top-button {
    bottom: 10px;
    right: -10px;
  }

  .Footer-container {
    padding: 2rem 4rem;
  }
}

.Footer-address {
  width: 343.42px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-top: 2.2rem;
}

.Address-header {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 27px;
  color: #FFFFFF;
}

.Address-info {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #D3D3D3;
}

.rights-container,
.rights-container p {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 3rem 0rem 3rem;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  color: #D3D3D3;

}

.vector {
  width: 0px;
  height: 24.43px;
  border: 1px solid #494949;
}